doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Дмитрий Печатников ( Dmitry Pechatnikov ) - личный сайт')
    meta(name='author', content='Dmitry Pechatnikov')



    title Dmitry Pechatnikov
    // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/freelancer.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(rel='icon', type='image/png', href='img/favicon.ico')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top.index
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#page-top') Dmitry Pechatnikov
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#portfolio') Портфолио
            li.page-scroll
              a(href='/NoughtsAndCrosses') Крестики-Нолики
            li.page-scroll
              a(href='#about') Обо мне
            li.page-scroll
              a(href='#contact') Связаться
        // /.navbar-collapse
      // /.container-fluid
    // Header
    header
      .container
        .row
          .col-lg-12
            img.img-responsive(src='img/profile.png', alt='')
            .intro-text
              span.name Дмитрий Печатников
              hr.star-light
              span.skills  Web-Разработчик - Программист - Инженер
    // Portfolio Grid Section
    section#portfolio
      .container
        .row
          .col-lg-12.text-center
            h2 Портфолио
            hr.star-primary
        .row
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/cabin.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/cake.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/circus.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/game.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/safe.png', alt='')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/submarine.png', alt='')
    // About Section
    section#about.success
      .container
        .row
          .col-lg-12.text-center
            h2 Обо мне
            hr.star-light
        .row
          .col-lg-4.col-lg-offset-2
            p
              | Back-end Web-Разработчик, разрабатываю приложения любого уровня сложности.
              | Хорошо разбираюсь в базах данных.
          .col-lg-4
            p
              | В свободное время программирую, играю на музыкальных инструментах, или занимаюсь Freelance
          .col-lg-8.col-lg-offset-2.text-center
            a.btn.btn-lg.btn-outline(href='downloads/Dmitry Pechatnikov.pdf')
              i.fa.fa-download
              |  Скачать моё резюме
    // Contact Section
    section#contact
      .container
        .row
          .col-lg-12.text-center
            h2 Связаться со мной
            hr.star-primary
        .row
          .col-lg-8.col-lg-offset-2
            // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
            // The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
            form#contactForm(name='sentMessage', novalidate='')
              //input(type='hidden', name='_token', value='{{ csrf_token() }}')
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Имя
                  input#name.form-control(type='text', placeholder='Имя', required='', data-validation-required-message='Пожалуйста укажите имя.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Email
                  input#email.form-control(type='email', placeholder='Email', required='', data-validation-required-message='Пожалуйста укажите ваш email адрес.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Телефон
                  input#phone.form-control(type='tel', placeholder='Телефон', required='', data-validation-required-message='Пожалуйста укажите ваш номер телефона.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Сообщение
                  textarea#message.form-control(rows='5', placeholder='Сообщение', required='', data-validation-required-message='Пожалуйтва оставьте сообщение.')
                  p.help-block.text-danger
              br
              #success
              .row
                .form-group.col-xs-12
                  button.btn.btn-success.btn-lg(type='submit') Отправить
    // Footer
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Местоположение
              p
                |Москва
                br
                |Мичуринский пр-кт, 12
            //.footer-col.col-md-4
            //  h3 Around the Web
            //  ul.list-inline
            //    li
            //      a.btn-social.btn-outline(href='#')
            //        i.fa.fa-fw.fa-facebook
            //    li
            //      a.btn-social.btn-outline(href='#')
            //        i.fa.fa-fw.fa-google-plus
            //    li
            //      a.btn-social.btn-outline(href='#')
            //        i.fa.fa-fw.fa-twitter
            //    li
            //      a.btn-social.btn-outline(href='#')
            //        i.fa.fa-fw.fa-linkedin
            //    li
            //      a.btn-social.btn-outline(href='#')
            //        i.fa.fa-fw.fa-dribbble
            //.footer-col.col-md-4
            //  h3 About Freelancer
            //  p
            //    | Freelance is a free to use, open source Bootstrap theme created by
            //    a(href='http://startbootstrap.com') Start Bootstrap
            //    | .
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright © pechatny.su 2015
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.visible-xs.visible-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
    // Portfolio Modals
    #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/cake.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/circus.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/game.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/safe.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/submarine.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='js/classie.js')
    script(src='js/cbpAnimatedHeader.js')
    // Contact Form JavaScript
    script(src='js/jqBootstrapValidation.js')
    script(src='js/contact_me.js')
    // Custom Theme JavaScript
    script(src='js/freelancer.js')
