.field-set{
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    border-collapse: collapse;
}

.field-set td{
    width: 127px;
    height: 127px;
    border: 3px solid #000;
}

.field-set tr:nth-child(even) td:nth-child(even){
    background-color: #ffc0e8;
}

.field-set tr:nth-child(even) td:nth-child(odd){
    background-color: #8aff9e;
}


.field-set tr:nth-child(odd) td:nth-child(odd){
    background-color: #ffc0e8;
}

.field-set tr:nth-child(odd) td:nth-child(even){
    background-color: #8aff9e;
}

td.cross{
    background-image: url("../img/cross.png");
}

td.round{
    background-image: url("../img/nought.png");
}

td{
    background-size: contain;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.btn {
    width: 400px;
    margin-top: 10px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    border: none;
}
.btn:focus {
    outline: none;
    background: #21618c;
    background-image: -webkit-linear-gradient(top, #21618c, #21618c);
    background-image: -moz-linear-gradient(top, #21618c, #21618c);
    background-image: -ms-linear-gradient(top, #21618c, #21618c);
    background-image: -o-linear-gradient(top, #21618c, #21618c);
    background-image: linear-gradient(to bottom, #21618c, #21618c);

}

.btn.hidden{
    display:none;
}

.left{
    float: left;
    width: 405px;
}

.right{
    float: right;
    width: 220px;
    border: 2px dotted #ff7976;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.right span.red{
    color: #343fd6;
}

.main{
    width: 660px;
}

.center{
    margin: 0 auto;
    text-align: center
}



